@page
@model EwasteModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome RD!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div class="col-3">
        <a asp-page="SurveyEwaste" class="btn btn-info form-control text-white">Donate Now</a>
    </div>
</div>
