@page
@model BookListRazor.Pages.FoodCalculatorModel

<div class="border container" style="padding-top:10px;padding-left:100px;">
    <form method="post">
        <div class="row">
            <div class="col-xs-4">
                <div class="form-group">
                    <div class="row stone">
                        <label class="btn btn-light" hidden>1. What did you eat in your first Meal?</label>
                    </div>
                    <div class="form-group row stone1">
                        <div>
                            <div id="button" class="cheesesandwich">
                                <div class="cheesesandwich1">
                                    <h2 class="cheesesandwich2">Cheese-Sandwich</h2>
                                </div>
                                <div class="img-overlay">
                                    <label class="label label-success">Quantity: </label>
                                    <div>
                                        <span class="minus glyphicon glyphicon-minus glyphico"></span>
                                        <input type="text" id="cheesesandwich" name="cheesesandwich" value="0" />
                                        <span class="plus  glyphicon glyphicon-plus glyphico"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<div class="stone">
                            <label class="label label-info">Quantity: </label>
                            <div class="stone2">
                                <span class="minus glyphicon glyphicon-minus glyphico"></span>
                                <input type="text" id="firstMeal" name="firstMeal" value="0" autocomplete="on" />
                                <span class="plus  glyphicon glyphicon-plus glyphico"></span>
                            </div>
                        </div>*@
                    </div>
                    <div class="form-group row stone1">
                        <div>
                            <div id="button" class="eggcheesesandwich">
                                <div class="cheesesandwich1">
                                    <h2 class="cheesesandwich2">Egg Cheese-Sandwich</h2>
                                </div>
                                <div class="img-overlay">
                                    <label class="label label-success">Quantity: </label>
                                    <div>
                                        <span class="minus glyphicon glyphicon-minus glyphico"></span>
                                        <input type="text" id="eggcheesesandwich" name="eggcheesesandwich" value="0" />
                                        <span class="plus  glyphicon glyphicon-plus glyphico"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row stone1">
                        <div>
                            <div id="button" class="chickensoup">
                                <div class="cheesesandwich1">
                                    <h2 class="cheesesandwich2">Chicken Soup</h2>
                                </div>
                                <div class="img-overlay">
                                    <label class="label label-success">Quantity: </label>
                                    <div>
                                        <span class="minus glyphicon glyphicon-minus glyphico"></span>
                                        <input type="text" id="chickensoup" name="chickensoup" value="0" />
                                        <span class="plus  glyphicon glyphicon-plus glyphico"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-4">
                <div class="form-group">
                    <div class="row">
                        <label class="btn btn-light" style="font-size:20px;">What did you eat in your Meal?</label>
                    </div>
                    <div class="form-group row stone1">
                        <div>
                            <div id="button" class="eggRice">
                                <div class="cheesesandwich1">
                                    <h2 class="cheesesandwich2">Egg Rice</h2>
                                </div>
                                <div class="img-overlay">
                                    <label class="label label-success">Quantity: </label>
                                    <div>
                                        <span class="minus glyphicon glyphicon-minus glyphico"></span>
                                        <input type="text" id="eggRice" name="eggRice" value="0" />
                                        <span class="plus  glyphicon glyphicon-plus glyphico"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row stone1">
                        <div>
                            <div id="button" class="chickencheesesandwich">
                                <div class="cheesesandwich1">
                                    <h2 class="cheesesandwich2">Chicken Cheese Sandwich</h2>
                                </div>
                                <div class="img-overlay">
                                    <label class="label label-success">Quantity: </label>
                                    <div>
                                        <span class="minus glyphicon glyphicon-minus glyphico"></span>
                                        <input type="text" id="chickencheesesandwich" name="chickencheesesandwich" value="0" />
                                        <span class="plus  glyphicon glyphicon-plus glyphico"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row stone1">
                        <div>
                            <div id="button" class="chickensandwich">
                                <div class="cheesesandwich1">
                                    <h2 class="cheesesandwich2">Chicken-Sandwich</h2>
                                </div>
                                <div class="img-overlay">
                                    <label class="label label-success">Quantity: </label>
                                    <div>
                                        <span class="minus glyphicon glyphicon-minus glyphico"></span>
                                        <input type="text" id="chickensandwich" name="chickensandwich" value="0" />
                                        <span class="plus  glyphicon glyphicon-plus glyphico"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-4">
                <div class="form-group">
                    <div class="row stone">
                        <label class="btn btn-light" hidden>3. What did you eat in your third Meal?</label>
                    </div>
                    <div class="form-group row stone1">
                        <div>
                            <div id="button" class="chickensteak">
                                <div class="cheesesandwich1">
                                    <h2 class="cheesesandwich2">Chicken Steak in Red Wine</h2>
                                </div>
                                <div class="img-overlay">
                                    <label class="label label-success">Quantity: </label>
                                    <div>
                                        <span class="minus glyphicon glyphicon-minus glyphico"></span>
                                        <input type="text" id="chickensteak" name="chickensteak" value="0" />
                                        <span class="plus  glyphicon glyphicon-plus glyphico"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row stone1">
                        <div>
                            <div id="button" class="vegrice">
                                <div class="cheesesandwich1">
                                    <h2 class="cheesesandwich2">Veg Rice</h2>
                                </div>
                                <div class="img-overlay">
                                    <label class="label label-success">Quantity: </label>
                                    <div>
                                        <span class="minus glyphicon glyphicon-minus glyphico"></span>
                                        <input type="text" id="vegrice" name="vegrice" value="0" />
                                        <span class="plus  glyphicon glyphicon-plus glyphico"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row stone1">
                        <div>
                            <div id="button" class="milk">
                                <div class="cheesesandwich1">
                                    <h2 class="cheesesandwich2">Milk</h2>
                                </div>
                                <div class="img-overlay">
                                    <label class="label label-success">Quantity: </label>
                                    <div>
                                        <span class="minus glyphicon glyphicon-minus glyphico"></span>
                                        <input type="text" id="milk" name="milk" value="0" />
                                        <span class="plus  glyphicon glyphicon-plus glyphico"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container meal">
            <div class="text-center">
                <button type="submit" id="calculate" asp-route-data="foo" asp-page-handler="SellProduct" class="btn btn-primary" onclick="document.getElementById('firstMeal').value">Calculate</button>
            </div>
        </div>
        <br />
        <div class="text-center" style="line-height:5">
            @{
                var tempval = TempData["SumResult"];
                @if (tempval == null)
                {
                    <span>Check Today's Food C02 for Thought</span> //Never displayed
                }
                else
                {
                    <label class="btn btn-light" Visible="false" id="lbltotal">
                        Your total Co2 emissions as of today from food is
                        <b> @TempData["SumResult"] </b> kg.
                    </label>
                }
            }
        </div>
        <br />
        <br />
    </form>
</div>

@section Styles{
    <link href="~/css/FoodCalculator.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
}

@section Scripts{
    <script src="~/js/FoodCalculator.js"></script>
}

